<div class="body" fxLayout="column">
  <app-navbar
    (messageEvent)="receiveMessage($event)"
    [status]="status"
  ></app-navbar>
  <div *ngIf="empty" id="empty-container">
    <img src="../../assets/images/empty-box.png" />
    <p>Nothing Here .....</p>
  </div>
  <app-profile
    [select]="select"
    [exportable]="exportable"
    [cv]="cv"
    [hasProfile]="status.profile"
    (messageEvent)="receiveReadyMessage($event, 'profile')"
  ></app-profile>
  <!-- <app-biography [select]="select" [exportable]="exportable" [cv]="cv" (messageEvent)="receiveReadyMessage($event, 'biography')"></app-biography> -->
  <app-academic-qualifications
    [select]="select"
    [exportable]="exportable"
    [cv]="cv"
    [hasAcademicQualification]="status.academicQualification"
    (messageEvent)="receiveReadyMessage($event, 'academic qualification')"
  ></app-academic-qualifications>
  <app-memberships
    [select]="select"
    [exportable]="exportable"
    [cv]="cv"
    [hasMembership]="status.membership"
    (messageEvent)="receiveReadyMessage($event, 'membership')"
  ></app-memberships>
  <app-work-experiences
  [select]="select"
  [exportable]="exportable"
  [cv]="cv"
  [hasWorkExperience]="status.workExperience"
  (messageEvent)="receiveReadyMessage($event, 'work experience')"
></app-work-experiences>
  <app-awards
    [select]="select"
    [exportable]="exportable"
    [cv]="cv"
    [hasAward]="status.award"
    (messageEvent)="receiveReadyMessage($event, 'award')"
  ></app-awards>
  <app-projects
  [select]="select"
  [exportable]="exportable"
  [cv]="cv"
  [hasProject]="status.project"
  (messageEvent)="receiveReadyMessage($event, 'project')"
></app-projects>
<app-citations
[select]="select"
[exportable]="exportable"
[cv]="cv"
[hasCitation]="status.citation"
(messageEvent)="receiveReadyMessage($event, 'citation')"
>
</app-citations>
  <app-publications
    [select]="select"
    [exportable]="exportable"
    [cv]="cv"
    [hasPublication]="status.publication"
    (messageEvent)="receiveReadyMessage($event, 'publication')"
  ></app-publications>
  <app-courses
    [select]="select"
    [exportable]="exportable"
    [cv]="cv"
    [hasCourse]="status.course"
    (messageEvent)="receiveReadyMessage($event, 'course')"
  ></app-courses>
  <app-students
    [select]="select"
    [exportable]="exportable"
    [cv]="cv"
    [hasStudent]="status.student"
    (messageEvent)="receiveReadyMessage($event, 'student')"
  ></app-students>

  <div class="container">
    <p
      *ngIf="select"
      fxLayoutAlign="end center"
      fxLayout="row"
      fxLayoutGap="10px"
    >
      <button mat-raised-button (click)="cancel()">Cancel</button>
      <button mat-raised-button color="primary" (click)="exportCV()">
        Export
      </button>
    </p>
  </div>
</div>
