<div class="container" fxLayout="column" fxLayoutGap="10px">
    <app-navbar (messageEvent)="receiveMessage($event)"></app-navbar>
    <app-profile [select]="select" [exportable]="exportable" [cv]="cv" (messageEvent)="receiveReadyMessage($event, 'profile')"></app-profile>
    <!-- <app-biography [select]="select" [exportable]="exportable" [cv]="cv" (messageEvent)="receiveReadyMessage($event, 'biography')"></app-biography> -->
    <app-academic-qualifications [select]="select" [exportable]="exportable" [cv]="cv" (messageEvent)="receiveReadyMessage($event, 'academic qualification')"></app-academic-qualifications>
    <app-memberships [select]="select" [exportable]="exportable" [cv]="cv" (messageEvent)="receiveReadyMessage($event, 'membership')"></app-memberships>
    <app-awards [select]="select" [exportable]="exportable" [cv]="cv" (messageEvent)="receiveReadyMessage($event, 'award')"></app-awards>
    <app-publications [select]="select" [exportable]="exportable" [cv]="cv" (messageEvent)="receiveReadyMessage($event, 'publication')"></app-publications>
    <app-work-experiences [select]="select" [exportable]="exportable" [cv]="cv" (messageEvent)="receiveReadyMessage($event, 'work experience')"></app-work-experiences>
    <app-projects [select]="select" [exportable]="exportable" [cv]="cv" (messageEvent)="receiveReadyMessage($event, 'project')"></app-projects>
    <app-courses [select]="select" [exportable]="exportable" [cv]="cv" (messageEvent)="receiveReadyMessage($event, 'course')"></app-courses>
    <app-students [select]="select" [exportable]="exportable" [cv]="cv" (messageEvent)="receiveReadyMessage($event, 'student')"></app-students>

    <div  fxLayoutAlign="center center">
        <p *ngIf="select" class="half-width" fxLayoutAlign="end center" fxLayout="row" fxLayoutGap="10px">
            <button mat-raised-button (click)="cancel()">Cancel</button>
            <button mat-raised-button color="primary" (click)="exportCV()">Export</button>
        </p>
    </div>

</div>