<div
  *ngIf="hasCitation"
  class="container"
  fxLayout="column"
  fxLayoutGap="0px"
  fxLayoutAlign="center center"
>
  <mat-card class="full-width">
    <mat-card-header>
      <h1>
        <mat-checkbox
          *ngIf="select"
          class="right-margin"
          [checked]="selected"
          (change)="toggle($event.checked)"
        ></mat-checkbox
        >Citation Summary
      </h1>
    </mat-card-header>
    <mat-card-content *ngIf="citations">
      <table mat-table [dataSource]="citations">
        <ng-container matColumnDef="database">
          <th mat-header-cell *matHeaderCellDef>Database</th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element.database == 0">Scopus</span>
            <span *ngIf="element.database == 1">Web of Science (SCI)</span>
            <span *ngIf="element.database == 2">Google Scholar</span>
          </td></ng-container
        >

        <ng-container matColumnDef="countWithoutSelf">
          <th mat-header-cell *matHeaderCellDef>
            Citation Count Without Self-citations
          </th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element.database != 2">{{
              element.countWithoutSelf
            }}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="countWithSelf">
          <th mat-header-cell *matHeaderCellDef>
            Citation Count With Self-citations
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.countWithSelf }}
          </td>
        </ng-container>

        <ng-container matColumnDef="hIndex">
          <th mat-header-cell *matHeaderCellDef>H-index</th>
          <td mat-cell *matCellDef="let element">{{ element.hindex }}</td>
        </ng-container>

        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef>Edit</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="openDialog(element)">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
