<div fxLayout="column" fxLayoutGap="10px">
  <mat-toolbar color="primary">
    <span>Edit Profile</span>
    <span class="flex-spacer"></span>
    <button mat-icon-button mat-dialog-close><mat-icon>close</mat-icon></button>
  </mat-toolbar>

  <form
    novalidate
    [formGroup]="profileForm"
    #pform="ngForm"
    (ngSubmit)="onSubmit()"
  >
    <mat-dialog-content>
      <p>
        <mat-form-field class="half-width">
          <input
            matInput
            formControlName="name"
            placeholder="Name"
            type="text"
            name="name"
          />
        </mat-form-field>
        <mat-form-field class="half-width">
          <input
            matInput
            formControlName="designation"
            placeholder="Designation"
            type="text"
            name="designation"
          />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="half-width">
          <input
            matInput
            formControlName="school"
            placeholder="School"
            type="text"
            name="school"
          />
        </mat-form-field>
      </p>
    </mat-dialog-content>
    <mat-dialog-actions>
      <span class="flex-spacer"></span>
      <button mat-raised-button mat-dialog-close>Cancel</button>
      <button mat-raised-button type="submit" color="primary">Save</button>
    </mat-dialog-actions>
  </form>
</div>
