<div fxLayout="column" fxLayoutGap="10px">


    <mat-toolbar color="primary">
        <span>Edit</span>
        <span class="flex-spacer"></span>
        <a mat-button mat-dialog-close>&times;</a>
    </mat-toolbar>

    <form novalidate [formGroup]="workExperienceForm" #wform="ngForm" (ngSubmit)="onSubmit()">
        <mat-dialog-content>
            <p>
                <mat-form-field class="half-width">
                    <input matInput formControlName="title" placeholder="Title" type="text" name="title">
                </mat-form-field>
                <mat-form-field class="half-width">
                    <input matInput formControlName="company" placeholder="Company" type="text" name="company">
                </mat-form-field>
            </p>
            <p>

                <mat-checkbox [(ngModel)]="currentWorking" name="currentWorking" [ngModelOptions]="{standalone: true}">I am currently working in this role</mat-checkbox>

            </p>
            <p>
                <mat-form-field class="half-width">
                    <mat-label>Start Date</mat-label>
                    <input matInput [formControl]="dates[0]" [matDatepicker]="startPicker" disabled>
                    <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                    <mat-datepicker #startPicker startView="multi-year" (yearSelected)="chosenYearHandler($event, 0)" (monthSelected)="chosenMonthHandler($event, startPicker, 0)" panelClass="date-picker" disabled="false"></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="half-width" *ngIf="!currentWorking">
                    <mat-label>End Date</mat-label>
                    <input matInput [formControl]="dates[1]" [matDatepicker]="endPicker" disabled>
                    <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                    <mat-datepicker #endPicker startView="multi-year" (yearSelected)="chosenYearHandler($event, 1)" (monthSelected)="chosenMonthHandler($event, endPicker, 1)" panelClass="date-picker" disabled="false"></mat-datepicker>
                </mat-form-field>
            </p>
        </mat-dialog-content>
        <mat-dialog-actions>
            <span class="flex-spacer"></span>
            <button mat-button mat-dialog-close>Cancel</button>
            <button mat-button type="submit">Save</button>
        </mat-dialog-actions>
    </form>
</div>