a {
  color: white;
  text-decoration: none;
  font-size: 1.6rem;
}

mat-toolbar {
  height: 80px;
  padding-left: 50px;
  min-width: fit-content;
}

.mat-menu-item {
  font-size: 1rem;
}

#settings-icon {
  font-size: 30px;
}
