<p>
    <mat-toolbar color="primary">
        <span>CV Management System</span>
        <span class="flex-spacer"></span>
        <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon settings-icon" aria-label="Example icon-button with settings">
      <mat-icon>settings</mat-icon>
    </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openJournalDialog()">Manage Journals</button>
            <button mat-menu-item (click)="openConferenceDialog()">Manage Conferences</button>
            <button mat-menu-item>Import</button>
            <button mat-menu-item (click)="select()">Export</button>
        </mat-menu>
    </mat-toolbar>
</p>