.icon-group {
  display: flex;
}

.mat-list-item {
  overflow-wrap: anywhere;
  height: auto !important;
}

.align-left {
  margin-right: auto;
}

.zero-top-margin {
  margin-top: 0;
}

mat-card-content {
  padding: 5px 36px;
}
