<div class="container" fxLayout="column" fxLayoutGap="0px" fxLayoutAlign="center center">

    <mat-card class="half-width">
        <mat-card-header>
            <h3>Projects</h3>
            <span class="flex-spacer"></span>
            <a (click)="openDialog()"><span class="fa fa-plus"></span></a>

        </mat-card-header>
        <mat-card-content>
            <mat-list>
                <mat-list-item *ngFor="let project of projects">
                    <div mat-line fxLayout="row" fxLayoutAlign="start center">
                        <h3>{{project.title}}</h3>
                        <span class="flex-spacer"></span>
                        <div class="icon-group">
                            <span (click)="openDialog(project)" class="icon"><span class="fa fa-edit"></span></span>
                            <span (click)="deleteProject(project)"><span class="fa fa-trash"></span></span>
                        </div>
                    </div>
                    <p mat-line>{{project.role}} {{project.startYear}} - <span *ngIf="!project.endYear">current</span><span *ngIf="project.endYear">{{project.endYear}}</span></p>
                    <p mat-line>Funder: {{project.funder}}</p>
                    <p mat-line>Funding amount: {{project.fundingAmount}}</p>
                    <p mat-line>{{project.description}}</p>
                    <mat-divider mat-line></mat-divider>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>

</div>