.icon-group {
    display: flex;
}

span.icon {
    margin: 0 7px;
}

.mat-list-item {
    overflow-wrap: anywhere;
    height: auto!important;
}

.zero-top-margin {
    margin-top: 0;
}

.align-left {
    margin-right: auto;
}