.icon-group {
  display: flex;
}

.mat-list-item {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-wrap: anywhere;
  height: auto !important;
}

.align-left {
  margin-right: auto;
}

mat-card-content {
  padding: 5px 36px;
}
