.icon-group {
    display: flex;
}

span.icon {
    margin: 0 7px;
}

.mat-list-item {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-wrap: anywhere;
    height: auto!important;
}

.align-left {
    margin-right: auto;
}