<div fxLayout="column" fxLayoutGap="10px">
  <mat-toolbar color="primary">
    <span>Edit Award</span>
    <span class="flex-spacer"></span>
    <button mat-icon-button mat-dialog-close><mat-icon>close</mat-icon></button>
  </mat-toolbar>

  <form
    novalidate
    [formGroup]="awardForm"
    #pform="ngForm"
    (ngSubmit)="onSubmit()"
  >
    <mat-dialog-content>
      <p>
        <mat-form-field class="full-width">
          <mat-label>Award</mat-label>
          <input
            matInput
            formControlName="content"
            placeholder="Award"
            type="text"
            name="content"
          />
        </mat-form-field>
        <mat-form-field class="half-width">
          <mat-label>Year</mat-label>
          <input
            matInput
            [formControl]="date"
            [matDatepicker]="datePicker"
            disabled
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="datePicker"
          ></mat-datepicker-toggle>
          <mat-datepicker
            #datePicker
            startView="multi-year"
            (yearSelected)="chosenYearHandler($event, datePicker)"
            panelClass="date-picker"
            disabled="false"
          ></mat-datepicker>
        </mat-form-field>
      </p>
    </mat-dialog-content>
    <mat-dialog-actions>
      <span class="flex-spacer"></span>
      <button mat-raised-button mat-dialog-close>Cancel</button>
      <button mat-raised-button type="submit" color="primary">Save</button>
    </mat-dialog-actions>
  </form>
</div>
