<div
  *ngIf="hasMembership"
  class="container"
  fxLayout="column"
  fxLayoutGap="0px"
  fxLayoutAlign="center center"
>
  <mat-card class="full-width">
    <mat-card-header>
      <h1>
        <mat-checkbox
          *ngIf="select"
          class="right-margin"
          [checked]="allSelected"
          [indeterminate]="someSelected()"
          (change)="setAll($event.checked)"
        ></mat-checkbox
        >Professional Qualifications / Memberships
      </h1>
      <span class="flex-spacer"></span>
      <button mat-icon-button (click)="openDialog()">
        <mat-icon>note_add</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content *ngIf="memberships">
      <mat-list>
        <mat-list-item *ngFor="let membership of memberships; let i = index">
          <p>
            <mat-checkbox
              *ngIf="select"
              class="right-margin"
              [(ngModel)]="selected[i]"
              (change)="updateAllSelected($event.checked, i)"
            ></mat-checkbox>

            {{ membership.startTime | date: "yyyy" }} -
            <span *ngIf="membership.endTime">{{
              membership.endTime | date: "yyyy"
            }}</span>
            <span *ngIf="!membership.endTime">Present</span>
            <span class="designation"
              >{{ membership.designation }}, {{ membership.institution }}</span
            >
            <span>{{ membership.state }}, {{ membership.country.name }}</span>
          </p>
          <span class="flex-spacer"></span>
          <div class="icon-group">
            <button mat-icon-button (click)="openDialog(membership)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteMembership(membership)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
