<div fxLayout="column" fxLayoutGap="10px">
  <mat-toolbar color="primary">
    <span>Manage Conferences</span>
    <span class="flex-spacer"></span>
    <button mat-icon-button mat-dialog-close><mat-icon>close</mat-icon></button>
  </mat-toolbar>
  <button mat-button (click)="addConference()" id="add-icon">
    Add New <mat-icon>add</mat-icon>
  </button>
  <form (ngSubmit)="save()">
    <mat-list>
      <mat-list-item
        mat-line
        *ngFor="let conference of conferences; index as i"
      >
        <mat-form-field>
          <input
            matInput
            type="text"
            [(ngModel)]="conference.name"
            [ngModelOptions]="{ standalone: true }"
            required
          />
        </mat-form-field>
        <button mat-button (click)="deleteConference(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
    <mat-error *ngIf="invalid">
      Conference name can not be empty or duplicate
    </mat-error>

    <mat-dialog-actions>
      <span class="flex-spacer"></span>
      <button mat-raised-button mat-dialog-close>Cancel</button>
      <button mat-raised-button type="submit" color="primary">Save</button>
    </mat-dialog-actions>
  </form>
</div>
