table {
  width: 100%;
}

.flex-container {
  display: flex;
  padding-left: 40;
}

.spacer {
  height: 30px;
}

.icon-group {
  align-content: space-between;
}

mat-card-content {
  padding: 5px 36px;
}

.mat-header-cell {
  font-size: 1rem;
  text-align: center;
}

.mat-cell {
  padding: 0 20px;
  text-align: center;
  font-size: 1rem;
}
