<div class="container" fxLayout="column" fxLayoutGap="0px" fxLayoutAlign="center center">

    <mat-card class="half-width">
        <mat-card-header>
            <h3><mat-checkbox *ngIf="select" class="right-margin" [checked]="allSelected" [indeterminate]="someSelected()" (change)="setAll($event.checked)"></mat-checkbox>Research Awards / Recognition</h3>
            <span class="flex-spacer"></span>
            <a (click)="openDialog()"><span class="fa fa-plus"></span></a>

        </mat-card-header>
        <mat-card-content *ngIf="awards">
            <mat-list>
                <mat-list-item *ngFor="let award of awards; let i = index">
                    <p>                    <mat-checkbox *ngIf="select" class="right-margin" [(ngModel)]="selected[i]" (change)="updateAllSelected($event.checked, i)"></mat-checkbox>

                        {{award.content}} ({{award.date | date:"yyyy"}})</p>
                    <span class="flex-spacer"></span>
                    <div class="icon-group">
                        <span (click)="openDialog(award)" class="icon"><span class="fa fa-edit"></span></span>
                        <span (click)="deleteAward(award)"><span class="fa fa-trash"></span></span>
                    </div>
                    <mat-divider></mat-divider>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>

</div>