.mat-list-item {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-wrap: anywhere;
  height: auto !important;
}

.icon-group {
  display: flex;
  margin-left: 10px;
}

mat-select {
  margin: auto;
  width: 150px;
}

#menu-panel {
  width: 90%;
  margin: auto;
  padding: 0 10px;
}

mat-card-content {
  padding: 5px 36px;
}

#icon-group {
  display: flex;
}
