mat-list-item {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-wrap: anywhere;
}

.icon-group {
    display: flex;
}

.icon {
    width: 25px;
}

#sort-icon {
    width: 15px;
}

mat-select {
    width: 120px;
}

.mat-menu {
    padding-left: 20px;
}